html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {

/* Fonts */
 --main-fonts: "Roboto", sans-serif;
 --secondary-fonts: "Raleway",sans-serif;
    --navy-blue-color: #2E2F42;
    --slate-color: #434455;
    --iris-color: #4D5AE5;
    --white-color:#FFFFFF;
    --cloud-color: #F4F4FD;
    --cornflower-color:#E7E9FC;
    --ocean-color: #404BBF;
    --light-slate-color:#8E8F99;
    --green-color: #31D0AA;


    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --dairy-color: #FCFCFC;

    /* Width element container */
    --indent: 24px;
    --items: 4;

    /* Transition */
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms; 
}
body {
  padding-top: 0;
  padding-bottom: 0;

  color:#404bbf;
  background-color: var(--white-color);

  font-family: Roboto, sans-serif; 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
p,
a,
ul {
    padding: 0;
    margin: 0;
}
img {
    display: block;
}

textarea {
    resize: none;
    color: rgba(46, 47, 66, 0.4); 
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/* Container site */
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
    
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
   
}
.section-img {
    padding-bottom: 120px;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
    display: flex;
        flex-wrap: wrap;
        
}



/* width flex element */

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}
   

.card-set-item {
    width: calc((100% - var(--indent) * ( var(--items) - 1 )) / var(--items));
}

/*  Parent  .visually-hidden  */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}




/* ПОЧАТКОВА секція хедера*/
.site-header {
    position: relative;

    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid var(--cornflower-color);
}



.header-flex {
 display: flex;
 box-sizing: inherit;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    border: 1px solid var(--cornflower);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.nav-flex {
     display: block;
    display: flex;
    align-items: center;
}



.logo{
    padding-top: 24px;
    padding-bottom: 24px;
    
    margin-right: 76px;

    color: var(--iris-color);

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    text-transform: uppercase;
}
.logo-header {
    color: var(--navy-blue-color);
}
.nav {
    display: flex;
    gap: 40px;

    font-weight: 500; 
    
    
}



.nav .item {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2E2F42;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.nav .item:hover ,
.nav .item:focus {
    color:#404bbf;
}
.nav .nav-link {
    margin-right: 40px;
    color: #404bbf;
    
}

.nav-link {
color: #404bbf;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .nav-link:last-child {
    margin-right: 0;
}
.address {
    margin-left: auto;

    font-style: normal;
}

.address .item {  
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--slate-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .item:hover,
.address .item:focus {
    color: var(--ocean-color);
}
.address-list .address-link {
    margin-right: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list .address-link:last-child {
    margin-right: 0;
}
.current {
    color: #404bbf;
    position: relative;
}

.nav .current {
    position: relative;

    color: var(--ocean-color);
}
.nav .current:after {
    position: absolute;

    content: "";

    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;

    background-color: var(--ocean-color);
    border-radius: 2px;
}





/* Секція №1 HERO */
.hero {
    display: block;
    margin: auto;

    padding-top: 188px;
    padding-bottom: 188px;

    max-width: 1440px;
    
    background-image: linear-gradient( rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)) ,url(../images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--navy-blue-color); 
}
.hero-title {
    display: block;
    margin: auto;
    max-width: 496px;
    padding-bottom: 48px;

    color: var(--white-color);

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    
}
.hero-btn {
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border: none;

    padding: 16px 32px;
    border-radius: 4px;
    
    color: var(--white-color);
    background-color: var(--iris-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     

}  
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean-color);
}


/* Секція №2 FEATURES особливості, 4 контейнери з іконками */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features {
    display: flex;
}
.features-text{
    color: var(--slate-color);
    }

.features .card {
    margin-right: 24px;
    width: calc((100% - 72px) / 4);
}
.features-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 112px;
    margin-bottom: 8px;

    background-color: var(--cloud-color);
    border-radius: 4px;
}
.features .card:last-child {
    margin-right: 0;
}
.features-title {
    margin-bottom: 8px;

    color: var(--navy-blue-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}





/* Секція №3 IMG для What are we doing */
.section-img {
    padding-bottom: 120px;
    box-sizing: inherit;
}
.header{
    margin-top: 0;
    margin-bottom: 72px;

    color: var(--navy-blue-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center
}
.img {
    display: flex;
}

.img-box {
    --items: 3;
    --indent: 24px;
}
.img-card {
    width: calc((100% - 48px) / 3);
    margin-right: 24px;

    border: 1px solid var(--cornflower-color);
}
.img .img-card:last-child {
    margin-right: 0;
}



/* Секція №4 Our Team з іконками з 4 соціальними мережами */
.team {
    background-color: var(--cloud-color);
}
.team-header {
    margin-bottom: 72px;

    color: var(--navy-blue-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    text-transform: capitalize;
    text-align: center
}

.team-box {
    display: flex;
}

.team-block {
    display: flex; 
    
}
.list {
    list-style: none;
}
.team-card {
   

    background-color: var(--white-color);

    box-shadow: px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-block .team-card:last-child {
    margin-right: 0;
}
.team-info {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px
}
.team-person {
    text-align: center;
    margin-bottom: 8px;

    color: var(--navy-blue-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team-position {
    margin-bottom: 8px;
    
    text-align: center;
    color: var(--slate-color);
}
.social-item {
    display: flex;
    justify-content: center;
    gap: 24px;


}
/* Динамічні іконки для соціальних мереж */
.team-iconbgr {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

   background-color: var(--iris-color); 

   border-radius: 50%;

   transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
   fill: var(--cloud-color);
}
.team-iconbgr:hover,
.team-iconbgr:focus {
    background-color: var(--ocean-color);
}

.social-item {
    display: flex;
    gap: var(--indent);
}



/* Секція №5 CUSTOMERS з іконками */
.customers-item {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    --items: 6;
    justify-content: space-between; 
}
/* .customers-margin {
    margin-right: 24px;
}
.customers-margin:last-child {
    margin-right: 0;
} */
.customers-border {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 168px;
    height: 88px;
    
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    color: var(--light-slate-color);
   
    transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
    fill: currentColor;
}
.customers-border:hover,
.customers-border:focus {
    color: var(--ocean-color);
    border: 1px solid var(--ocean-color);
}



/*  Секція №6 FOOTER з іконками 4 соціальних мереж */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--navy-blue-color);
}
.footer-text {
    margin-right: 120px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    
    color: var(--iris-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-accent {
    color: var(--cloud-color);
}
.text-footer {
    max-width: 264px;

    color: var(--cloud-color);
}
.footer-flex {
    display: flex;
    align-items: baseline;
}
.social-media {
    margin-right: 80px;
}
.social-header {
    margin-bottom: 16px;

    font-weight: 500;
    color: var(--white-color);
}
.social-flex {
    display: flex;  
    gap: 16px; 
}
/* .social-list {
    margin-right: 16px;
}
.social-list:last-child {
    margin-right: 0;
} */
.footer-icon {
    color: #F4F4FD;
}
.icon-bgr {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;
    
    background-color: var(--iris-color);
    
    border-radius: 50%;

    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    fill: var(--cloud-color);
}
.icon-bgr:hover,
.icon-bgr:focus {
    background-color: var(--green-color);
}




/*  Вікно з даними для клієнтів після кнопки ODER SERVISE MODAL */


.footer-form {
    display: flex;
        gap: 24px;
}
.footer-input {
    padding-left: 16px;

    width: 264px;
    height: 40px;

    border-radius: 4px;
    border:  1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    background-color: transparent;
    color: var(--white-color);

    transition: border-color var(--transition-duration) var(--timing-function);
}
.footer-input:hover,
.footer-input:focus {
    fill: #4D5AE5; 
}
.footer-input:placeholder {
    color: var(--white-color);
}
.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 165px;

    padding: 8px 24px;
    height: 40px;

    border: none;
    border-radius: 4px;
    background-color: var(--iris-color);
    color: var(--white-color);

 
    font-family: var(--main-fonts);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center; 

    transition: background-color var(--transition-duration) var(--timing-function) ;

    cursor: pointer;
}
.send-svg {
    margin-left: 16px;
    color: var(--white-color);
    fill: var(--cloud-color);
   

}
.footer-button:hover,
.footer-button:focus {
    background-color: var(--ocean-color);
}



/* Вікно після кнопки ODER SERVISE MODAL */

.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;

    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.backdrop.is-hidden {
    visibility: hidden;
  }
  
  .backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -70%);
    transition: delay 0ms;
  }
  
  .modal {
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FCFCFC;
    width: 408px;
    min-height: 584px;
    transition: delay 250ms;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
  
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-button:hover,
  .modal-button:focus {
    background-color: var(--secondary-icons-color);
    border: none;
    fill: #ffffff;
    border-radius: 24px;
  }
  
  .modal-icon {
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-caption {
    color: var(--secondary-color, #2e2f42);
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
  
    display: block;
    width: 360px;
    text-align: center;
    justify-content: center;
  
    font-size: 16px;
    letter-spacing: 0.32px;
  }
  
  .input-container {
    margin-bottom: 8px;
  }
  
  .input-container:last-of-type {
    margin-bottom: 24px;
  }
  
  .modal-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
  }
  
  .modal-item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 4px;
  }
  
  .modal-label {
    display: block;
    margin-bottom: 4px;
  
    color: var(--light-slate-modal-text-color, #8e8f99);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
  }
  
  .modal-form-field {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .modal-input {
    outline: transparent;
    padding: 11px 16px 11px 38px;
  
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-input:focus,
  .modal-comment:focus {
    outline: none;
    color: var(--secondary-color);
    border-color: #4D5AE5; 
  }
  
  .modal-input:hover,
  .modal-comment:hover {
    outline: none;
    border-color: var(--brand-color);
  }
  
  .modal-input:focus + .register-modal-icon,
  .modal-input:hover + .register-modal-icon {
    fill: var(--brand-color, #4d5ae5);
  }
  
  .register-modal-icon {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  
    width: 18px;
    height: 24px;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-comment {
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    height: 120px;
    padding: 8px 16px;
  
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  
    outline: transparent;
    background-color: transparent;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .comment-wrapper {
    margin-bottom: 16px;
  }
  
  .modal-form-check {
    margin-bottom: 24px;
  }
  
  .modal-check-label {
    align-items: center;
    user-select: none;
    line-height: 1.17;
  }
  
  .privacy-check-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .privacy-link {
    color: #4d5ae5;
    cursor: pointer;
  }
  
  .modal-form-check:checked.modal-check-label.privacy-check-wrapper-input:focus {
    fill: #F4F4FD;
    border: none;
    background-color: #404bbf;
  }
  
  .submit {
    display: block;
    margin: 0 auto;
  
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    color: #ffffff;
  
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  
    text-align: center;
    background-color: var(--brand-color, #4d5ae5);
  
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.form-button:hover,
.form-button:focus {
    background-color: var(--ocean-color);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}







/* ОСНОВНА сторінка  portfolio */
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.btn-list {
    display: flex;
    justify-content: center;

    margin-bottom: 72px;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.btn {
    padding: 12px 24px;
    
    color: #404bbf;
    background-color: var(--cloud-color);

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
  
  .submit:hover,
  .submit:focus {
    background-color: var(--secondary-icons-color);
    cursor: pointer;
  }



