html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {

/* Fonts */
 --main-fonts: "Roboto", sans-serif;
 --secondary-fonts: "Raleway",sans-serif;
    --navy-blue-color: #2E2F42;
    --slate-color: #434455;
    --iris-color: #4D5AE5;
    --white-color:#FFFFFF;
    --cloud-color: #F4F4FD;
    --cornflower-color:#E7E9FC;
    --ocean-color: #404BBF;
    --light-slate-color:#8E8F99;
    --green-color: #31D0AA;


    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --dairy-color: #FCFCFC;

    /* Width element container */
    --indent: 24px;
    --items: 4;

    /* Transition */
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms; 
}
body {
  padding-top: 0;
  padding-bottom: 0;

  color:#404bbf;
  background-color: var(--white-color);

  font-family: Roboto, sans-serif; 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
p,
a,
ul {
    padding: 0;
    margin: 0;
}
img {
    display: block;
}

textarea {
    resize: none;
    color: rgba(46, 47, 66, 0.4); 
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/* Container site */
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
    
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
   
}
.section-img {
    padding-bottom: 120px;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
    display: flex;
        flex-wrap: wrap;
        
}



/* width flex element */

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}
   

.card-set-item {
    width: calc((100% - var(--indent) * ( var(--items) - 1 )) / var(--items));
}

/*  Parent  .visually-hidden  */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}




/* ПОЧАТКОВА секція хедера*/
.site-header {
    position: relative;

    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid var(--cornflower-color);
}



.header-flex {
 display: flex;
 box-sizing: inherit;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    border: 1px solid var(--cornflower);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.nav-flex {
     display: block;
    display: flex;
    align-items: center;
}



.logo{
    padding-top: 24px;
    padding-bottom: 24px;
    
    margin-right: 76px;

    color: var(--iris-color);

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    text-transform: uppercase;
}
.logo-header {
    color: var(--navy-blue-color);
}
.nav {
    display: flex;
    gap: 40px;

    font-weight: 500; 
    
    
}



.nav .item {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2E2F42;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.nav .item:hover ,
.nav .item:focus {
    color:#404bbf;
}
.nav .nav-link {
    margin-right: 40px;
    color: #404bbf;
    
}

.nav-link {
color: #404bbf;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .nav-link:last-child {
    margin-right: 0;
}
.address {
    margin-left: auto;

    font-style: normal;
}

.address .item {  
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--slate-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .item:hover,
.address .item:focus {
    color: var(--ocean-color);
}
.address-list .address-link {
    margin-right: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list .address-link:last-child {
    margin-right: 0;
}
.current {
    color: #404bbf;
    position: relative;
}

.nav .current {
    position: relative;

    color: var(--ocean-color);
}
.nav .current:after {
    position: absolute;

    content: "";

    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;

    background-color: var(--ocean-color);
    border-radius: 2px;
}





/* Секція №1 HERO */
.hero {
    display: block;
    margin: auto;

    padding-top: 188px;
    padding-bottom: 188px;

    max-width: 1440px;
    
    background-image: linear-gradient( rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)) ,url(../images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--navy-blue-color); 
}
.hero-title {
    display: block;
    margin: auto;
    max-width: 496px;
    padding-bottom: 48px;

    color: var(--white-color);

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    
}
.hero-btn {
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border: none;

    padding: 16px 32px;
    border-radius: 4px;
    
    color: var(--white-color);
    background-color: var(--iris-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     

}  
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean-color);
}


/* Секція №2 FEATURES особливості, 4 контейнери з іконками */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features {
    display: flex;
}
.features-text{
    color: var(--slate-color);
    }

.features .card {
    margin-right: 24px;
    width: calc((100% - 72px) / 4);
}
.features-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 112px;
    margin-bottom: 8px;

    background-color: var(--cloud-color);
    border-radius: 4px;
}
.features .card:last-child {
    margin-right: 0;
}
.features-title {
    margin-bottom: 8px;

    color: var(--navy-blue-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}





/* Секція №3 IMG для What are we doing */
.section-img {
    padding-bottom: 120px;
    box-sizing: inherit;
}
.header{
    margin-top: 0;
    margin-bottom: 72px;

    color: var(--navy-blue-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center
}
.img {
    display: flex;
}

.img-box {
    --items: 3;
    --indent: 24px;
}
.img-card {
    width: calc((100% - 48px) / 3);
    margin-right: 24px;

    border: 1px solid var(--cornflower-color);
}
.img .img-card:last-child {
    margin-right: 0;
}



/* Секція №4 Our Team з іконками з 4 соціальними мережами */
.team {
    background-color: var(--cloud-color);
}
.team-header {
    margin-bottom: 72px;

    color: var(--navy-blue-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    text-transform: capitalize;
    text-align: center
}

.team-box {
    display: flex;
}

.team-block {
    display: flex; 
    
}
.list {
    list-style: none;
}
.team-card {
   

    background-color: var(--white-color);

    box-shadow: px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-block .team-card:last-child {
    margin-right: 0;
}
.team-info {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px
}
.team-person {
    text-align: center;
    margin-bottom: 8px;

    color: var(--navy-blue-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team-position {
    margin-bottom: 8px;
    
    text-align: center;
    color: var(--slate-color);
}
.social-item {
    display: flex;
    justify-content: center;
    gap: 24px;


}
/* Динамічні іконки для соціальних мереж */
.team-iconbgr {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

   background-color: var(--iris-color); 

   border-radius: 50%;

   transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
   fill: var(--cloud-color);
}
.team-iconbgr:hover,
.team-iconbgr:focus {
    background-color: var(--ocean-color);
}

.social-item {
    display: flex;
    gap: var(--indent);
}



/* Секція №5 CUSTOMERS з іконками */
.customers-item {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    --items: 6;
    justify-content: space-between; 
}
/* .customers-margin {
    margin-right: 24px;
}
.customers-margin:last-child {
    margin-right: 0;
} */
.customers-border {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 168px;
    height: 88px;
    
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    color: var(--light-slate-color);
   
    transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
    fill: currentColor;
}
.customers-border:hover,
.customers-border:focus {
    color: var(--ocean-color);
    border: 1px solid var(--ocean-color);
}



/*  Секція №6 FOOTER з іконками 4 соціальних мереж */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--navy-blue-color);
}
.footer-text {
    margin-right: 120px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    
    color: var(--iris-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-accent {
    color: var(--cloud-color);
}
.text-footer {
    max-width: 264px;

    color: var(--cloud-color);
}
.footer-flex {
    display: flex;
    align-items: baseline;
}
.social-media {
    margin-right: 80px;
}
.social-header {
    margin-bottom: 16px;

    font-weight: 500;
    color: var(--white-color);
}
.social-flex {
    display: flex;  
    gap: 16px; 
}
/* .social-list {
    margin-right: 16px;
}
.social-list:last-child {
    margin-right: 0;
} */
.footer-icon {
    color: #F4F4FD;
}
.icon-bgr {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;
    
    background-color: var(--iris-color);
    
    border-radius: 50%;

    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    fill: var(--cloud-color);
}
.icon-bgr:hover,
.icon-bgr:focus {
    background-color: var(--green-color);
}




/*  Вікно з даними для клієнтів після кнопки ODER SERVISE MODAL */


.footer-form {
    display: flex;
        gap: 24px;
}
.footer-input {
    padding-left: 16px;

    width: 264px;
    height: 40px;

    border-radius: 4px;
    border:  1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    background-color: transparent;
    color: var(--white-color);

    transition: border-color var(--transition-duration) var(--timing-function);
}
.footer-input:hover,
.footer-input:focus {
    fill: #4D5AE5; 
}
.footer-input:placeholder {
    color: var(--white-color);
}
.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 165px;

    padding: 8px 24px;
    height: 40px;

    border: none;
    border-radius: 4px;
    background-color: var(--iris-color);
    color: var(--white-color);

 
    font-family: var(--main-fonts);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center; 

    transition: background-color var(--transition-duration) var(--timing-function) ;

    cursor: pointer;
}
.send-svg {
    margin-left: 16px;
    color: var(--white-color);
    fill: var(--cloud-color);
   

}
.footer-button:hover,
.footer-button:focus {
    background-color: var(--ocean-color);
}



/* Вікно після кнопки ODER SERVISE MODAL */
.backdrop {
    padding-top: 72px; 
    padding-right: 24px; 
    padding-bottom: 24px; 
    padding-left: 24px; 
    position: fixed;

    top: 0;
    left: 0;    

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    visibility: hidden;

    opacity: 0; 
    pointer-events: none;
    padding: 72px 24px 24px 24px;
}
.modal {
    position: absolute;

    padding: 72px 24px 24px 24px;  
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );

    min-width: 408px;
    min-height: 584px;

    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 


}
.modal-button {
    position: absolute;

    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;

    background-color: #e7e9fc;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none; 

    fill: #ffffff;
}
.modal-svg {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


/* Форма вікна MODAL*/

.modal-header {
    
 
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-align: center;
    color: var(--navy-blue-color);
}
.form {
    width: 100%;
  
    margin-bottom: 8px;
}
.form-group {
    
    display: flex;
    flex-direction: column;

    margin-bottom: 8px;
}
.comment-wrapper {
    margin-bottom: 16px;
  }

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 4px;

    color: #8e8f99;
    display: block; 
}
.form-input {
    width: 100%;
    height: 40px;

    margin: 0;
    padding: 0;
    padding-left: 38px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    
    border-radius: 4px;

    margin-bottom: 8px;

    cursor: pointer;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.form-input:focus {
    
    border-color: #4D5AE5; 
   
}





.icon-position {
    position: relative;
    height: 40px;
    color: var(--navy-blue-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-position:hover {
  
    border:none; 

    fill: #4D5AE5;
}




    .form-icon {
        position: absolute;
    
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        pointer-events: none;
       
       
    }

    .form-icon.input:focus {
        fill: #4D5AE5; 
      
    }

.modal-input-icons {
    position: absolute;
    top:50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    }

.modal-input-icons:hover {
    
  

    color: #4D5AE5; 
}


.modal-input-icons:focus {
    background-color: #404bbf;
    border: none; 

    fill: #ffffff;
}


.coments-group {
    margin-bottom: 16px;
}
.coments {
    width: 100%; 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    
    background-color: transparent;
    padding: 8px 16px;

    height: 120px;

    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    transition: border-color var(--transition-duration) var(--timing-function);

    cursor: pointer;
    outline: transparent;
}
.coments:hover,
.coments:focus {
    border-color: var(--iris-color);
}
.form-checkbox {
    display: flex;
    align-items: center;

    margin-bottom: 24px;
}
.checkbox-svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;  
    height: 16px;

    margin-right: 8px;
    cursor: pointer;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 2px;

    fill: transparent;

    transition: background-color var(--transition-duration) var(--timing-function), 
    border var(--transition-duration) var(--timing-function), 
    fill var(--transition-duration) var(--timing-function);
}
.checkbox:checked + .label-checkbox>.checkbox-svg {
    fill: var(--cloud-color);
    background-color: var(--ocean-color);
    border: none; 
}
.privacy-link {
    color: var(--iris-color);
    user-select: none;
}
.form-button {
    padding: 16px 64px;

    margin:0 auto;
    display: block;

    min-width: 169px;
    height: 56px;
    margin-top: 24px;
   
    font-family: var(--main-fonts);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    background-color: var(--iris-color);
    color: var(--white-color);
    border-radius: 4px;
    border: none;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    transition: background-color var(--transition-duration) var(--timing-function);

    cursor: pointer;
}
.form-button:hover,
.form-button:focus {
    background-color: var(--ocean-color);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



/* ОСНОВНА сторінка  portfolio */
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.btn-list {
    display: flex;
    justify-content: center;

    margin-bottom: 72px;
    
}
.btn {
    padding: 12px 24px;
    
    color: #404bbf;
    background-color: var(--cloud-color);

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    border: 1px solid var(--cornflower-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.btn-list .item {
    margin-right: 24px;
}
.btn-list .item:last-child {
    margin-right: 0px;
}
.btn:hover,
.btn:focus {
    color: var(--white-color);
    background-color: var(--ocean-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;



}
.project {
    display: flex;
    flex-wrap: wrap;
    --items: 3;
    --indent: 24px;
    row-gap: 48px;
}
.project-card {
    
    margin-right: 24px;
    margin-bottom: 48px;

    background-color: var(--white-color);  
}
.project-card:nth-child(3n) {
    margin-right: 0;
}
.project-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.project-link {
    display: block;
    background-color: var(--white-color); 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



.project-link:hover .content,
.project-link:focus .content {
    opacity: 1;

    transform: translateY(0);



/* Накладання вспливаючої картинки overlay */

} 
.overlay {
    position: relative;

    overflow: hidden;
}
.content {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 40px 32px;

    background-color: var(--iris-color);
    color:#f4f4fd;

    opacity: 0;

    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);  
} 


.border {
    padding: 32px 16px;

    border-left: 1px solid var(--cornflower-color);
    border-right: 1px solid var(--cornflower-color);
    border-bottom: 1px solid var(--cornflower-color);
}
.project-title {
    margin-bottom: 8px;

    color: #2E2F42;
    ;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.project-text {
    color: var(--slate-color);  
}